main img {
    border: 5px solid #2c922a;
}

body {
    font-family: Roboto;
}

nav {
    margin: 20px;
    padding: 10px;
    border: 2px solid lightgray;
}

nav a {
    margin: 60px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(48, 140, 216);
}

footer {
    text-align: center;
    background-color: gold;
}

main p {
    font-size: 18px;
}
